.fancytree-container {
    outline: none;
}

#fancyBtnSearch {
    margin-left: 5px;
}

#fancySearchTxt {
    width: 150px;
}

#FancyAllButtonsGroup {
    margin: 10px 0px 0px;
    padding: 0px;
}

#FancyTreeContainer {
    height: 350px;
}

#FancyTreeWrapper {
    height: 360px;
    padding: 5px 0px;
    background: #FCFDC3;
}

ul.fancytree-container {
    border: 0px;
    padding: 0px;
    background: inherit;
}

span.search-matched span.fancytree-title {
    background: #F3A500 !important;
}

#CustomModalBody {
    padding-bottom: 0px;
}

.TopMarginlessHr {
    margin-bottom: 10px !important;
}
